.search {
    position: relative;
}

.search-icon {
    color: #ccc;
    font-size: 1.3em;
    padding: .5em;
    position: absolute;
    top: 0;
    left: 0;
}

.busca {
    margin: 2em auto;
    padding: 0;
    display: flex;
    justify-content: center;
}
.txtbusca {
    position: relative;
    border: 0.06em solid #ccc;
    border-right: none;
    border-radius: .2em 0 0 .2em;
    background: transparent;
    width: 20em;
    height: 2em;
    margin:0 auto;
    padding: .3em .3em .3em 3em;
    float:left;
    line-height: 2em;
    font-size: .83em;
    outline: none;
}
.btnBusca {
    background-color: #E81111;
    color:#FFF;
    margin: 0 auto;
    padding: .56em 1em;
    border: 0 none;
    border-radius: 0 .2em .2em 0;
        -webkit-appearance: none;/*impede formatação padrão do botão no iphone*/
    font-size: 1em;
    cursor: pointer;
}
.btnBusca:hover {
    background-color: #e72c2c;
}

.filter {
    display: flex;
    justify-content: center;
}

.filter label{
    margin-right: 25px;
    vertical-align: top;
}

.toggler {
    display: inline-block;
    width: 0;
    height: 0;
    margin: 0;
    opacity: 0;
    overflow: hidden;
    
}
.toggler + span {
    display: inline-block;
    margin-left: 10px;
    width: 75px;
    height: 30px;
    border-radius: 15px;
    border: 2px solid #ccc;
    cursor: pointer;
    vertical-align: middle;
    transition: background-color .3s linear;
}
.toggler + span::before {
    content: "";
    display: block;
    width: 22.5px;
    height: 22.5px;
    background-color: white;
    border-radius: 50%;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin: 3.75px;
    transition: transform .3s ease-in;
}
.toggler:checked + span {
    background-color: #E81111;
    border-color: transparent;
}
.toggler:checked + span::before {
    transform: translateX(46.5px);
}

.cardapio-sub {
    width: 20em;
}

.containerproducts {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin: 1em;
    padding-left: 1em;
    overflow: auto;
}

.card{
    background-color: #f2f2f2;
    margin: 0 1.5em 1em 0;
    width: 14em;
    box-sizing: border-box;
    border: 1px solid #ccc;
    overflow: hidden;
}

.card-img{
    width: 100%;
    height: 10em;
}

.card-img img {
    width: 100%;
    height: 100%;
}

.card-content{
    text-align: center;
    padding: .5em;
}

.card-content h4{
    margin: 0;
    height: 2em;
}

.card-content p{
    height: 8em;
    min-height: 8em;
    font-size: .8em;
    overflow: hidden;
}

.card-price {
    color: #0f0;
    font-size: 1.3em;
    text-align: center;
}

@media screen and (max-width: 600px){

    .txtbusca {
        width: 15em;
    }

    .filter {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .filter label{
        margin-bottom: 1.5em;
    }

    .containerproducts {
        padding: 0;
    }

    .card{
        margin-right: 0;
        width: 16em;
    }

    .card-img{
        width: 100%;
        height: 12em;
    }
}

@media screen and (max-width: 400px) {
    .txtbusca {
        width: 13em;
        font-size: .88em;
    }

    .cardapio-sub {
        width: 15em;
    }
}

@media screen and (max-width: 320px) {
    .search-icon {
        font-size: .975em;
        padding: .375em;
    }
    
    .txtbusca {
        border: 0.045em solid #ccc;
        border-radius: .15em 0 0 .15em;
        width: 15em;
        height: 1.5em;
        padding: .225em .225em .225em 2.25em;
        line-height: 2em;
        font-size: .7em;
    }
    .btnBusca {
        padding: .42em .75em;
        border-radius: 0 .15em .15em 0;
        font-size: .75em;
    }
}