body {
    background-color: #E81111;/*fallback para o gradiente*/
    background-image: linear-gradient(#4E0505 15em, #E81111 35em, #4E0505);
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    color: #333;
}

a {
    text-decoration: none;
}

h1{
    font-weight: normal;
    font-size: 2.5em;
}

/*nav, header, main, ul, a, li {
    border: 2px solid black;
}*/
.text-center{
    text-align: center;
}

.logo{
    margin: 3em 0;
    text-align: center;
}

.logo-text{
    color: #fff;
    font-size: 1.6em;
}

nav {
    margin-bottom: 2em;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav li {
    display: inline-block;
}

.nav-link {
    display: block;
    margin-right: 1.5em;
    padding: .5em 1em;
    border: 2px solid transparent;
    color: #fff;
    font-size: 1.3em;
    transition: border-bottom-color .5s linear;
}

.nav-link:hover{
    border-bottom-color: white;
}

.active{
    color: #ff0;
}

main{
    background-color: #fff;
    width: 90%;
    margin: 0 auto;
    padding: 1em;
    box-sizing: border-box;
    box-shadow: 10px -5px 15px black;
    border-radius: .2em;
    min-height: 500px;
}

footer {
    clear: both;
}

.social {
    margin-top: 2em;
    text-align: center;
}

.social li {
    list-style-type: none;
    display: inline-block;
    margin-right: 1em;
}

.social a {
    display: block;
    color: #fff;
    font-size: 1.8em;
    transition: transform .2s;
}

.social a:hover{
    transform: translateY(-5px);
}

.btn {
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: transparent;
    color: #333;
    padding: .5em 2em;
    font-size: 1.3em;
    cursor: pointer;
    transition: all .3s linear;
}

.btn:hover {
    background-color: #961d1d;
    color: #fff;
    border-color: #961d1d;
}



@media screen and (max-width: 768px){
    .logo{
        background-color: #4E0505;
        text-align: left;
        margin: 1em .5em;
    }

    .logo img {
        width: 70px;
        vertical-align: middle;
    }

    .logo-text {
        display: inline;
        font-size: 1.3em;
    }

    nav li{
        display: block;
        border-bottom: 1px solid #ddd;
    }

    nav li:last-child {
        border-bottom-color: transparent;
    }


    .nav-link {
        background-color: #641515;
        border: none;
        padding: 1em;
        margin-right: 0;
    }

    .nav-link:hover {
        background-color: #751919;
    }

    .nav-link:active {
        background-color: #961d1d;
    }

    main{
        width: 100%;
        box-shadow: none;
    }

    .btn {
        background-color: #961d1d;
        border: 1px solid #961d1d;
        color: #fff;
        transition: none;
    }
    
    .btn:active {
        background-color: transparent;
        border-color: #ccc;
        color: #333;
    }
}